
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Proofn™ email helps you convey your exact thoughts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/assets/ico/proofn/launcher_58.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/ico/proofn/launcher_87.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/ico/proofn/launcher_120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/ico/proofn/launcher_180.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="Proofn is an email platform where users can quickly change email-style they send to the recipient(s) regardless of reason. Proofn provides an unlimited number of do-overs; the sender can build stronger connections regardless of the recipient(s) disposition or background." name="description" />
    <meta name="keywords" content="proofn,email,message,messaging,mistake,client,clients,vip,contact,reminder,subject,engagement">
    <meta content="agustiawanian@myabuy.com,mirafianti@myabuy.com" name="author" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Proofn™ Email">
    <meta itemprop="description" content="Proofn is an email platform where users can quickly change email-style they send to the recipient(s) regardless of reason. Proofn provides an unlimited number of do-overs; the sender can build stronger connections regardless of the recipient(s) disposition or background.">
    <meta itemprop="image" content="http://www.proofn.com/assets/images/proofn/meta-facebook-200.jpg">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@proofnapp">
    <meta name="twitter:title" content="Proofn™ email helps you convey your exact thoughts">
    <meta name="twitter:description" content="Proofn is an email platform where users can quickly change email-style they send to the recipient(s) regardless of reason">
    <meta name="twitter:creator" content="@joelgoslar">
    <meta name="twitter:image" content="http://www.proofn.com/assets/images/proofn/meta-twitter-280x150.jpg">
    <meta name="twitter:image:src" content="http://www.proofn.com/assets/images/proofn/meta-twitter-280x150.jpg">

    <!-- Open Graph data -->
    
    <meta property="og:title" content="Proofn™ email helps you convey your exact thoughts" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.proofn.com/" />
    <meta property="og:image" content="http://www.proofn.com/assets/images/proofn/meta-facebook-1200x630.jpg" />
    <meta property="og:description" content="Proofn is an email platform where users can quickly change email-style they send to the recipient(s) regardless of reason" />
    <meta property="og:site_name" content="Proofn" />
    <meta property="fb:admins" content="1304012117" />
    <!-- <meta property="fb:admins" content="Facebook numberic ID" /> -->


    <!-- BEGIN PLUGINS -->
    <link href="/assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/swiper/css/swiper.min.css" rel="stylesheet" type="text/css" media="screen" />
    <!-- END PLUGINS -->
    <!-- BEGIN PAGES CSS -->
    <link class="main-stylesheet" href="/pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="/pages/css/pages-icons.min.css" rel="stylesheet" type="text/css" />
    <link class="main-stylesheet" href="/main/default.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGES CSS -->
  </head>